<detail-card title="'Koučování'">
  <detail-card-img>
    <img src="app/pics/coaching_pic.jpg" class="md-media-xl-4-3 card-media"/>
  </detail-card-img>
  <detail-card-content>
    <p>
      Koučování je královská technika osobního a profesního rozvoje, která je zaměřená na zvýšení potenciálu, aktivizaci a využití silných stránek, rezerv a zlepšení vnímání reality.
    </p>

    <p>
      Moje osobní prožitky a pracovní praxe mi umožňují doprovázet klienta na cestě změny. Rozpoznávat neviděné, slyšet neslyšené a vyslovovat nevyslovené. Vedu klienta k uvědomění a nacházení vlastního přijatelného řešení. Základním předpokladem koučovací práce je klientova schopnost sebereflexe.
    </p>
    <p>
      Zvláštní kapitolou mé práce je koučování učitelů a rodičů. Učitele podporuji primárně v nácviku reflexe, komunikačních dovednostech, práci v týmu a podpoře psychické stability, protože „vyhořelý“ učitel nemůže pracovat s dětmi.
    </p>
    <p>
      Rodiče doprovázím na cestě mateřství a rodičovství v oblasti synchronizace zdravého rodičovství a výkonu práce.
    </p>
    <h3>Individuální koučovací práce je vhodná, pokud hledáte pomoc při častém prožívání</h3>
    <ul>
      <li>ztráty energie z vykonávané práce, propadáte se do stereotypu </li>
      <li>pocitu změny bez konkrétní představy</li>
      <li>konfliktů na pracovišti nebo doma</li>
      <li>pocitů neporozumění, zmatku, chaosu</li>
      <li>že je toho na vás hodně a cítíte se přetíženi</li>
      <li>že nic nestíháte </li>
      <li>potřebujete udělat důležité rozhodnutí atd.</li>
    </ul>
    <h3>Co vám může koučování přinést </h3>
    <ul>
      <li>náhled, porozumění a nalezení vlastního řešení situace</li>
      <li>poznání sebe sama</li>
      <li>radost do života</li>
      <li>zmírnění zdravotních obtíží</li>
      <li>zájem a chuť pro další práci na sobě </li>
    </ul>
    <h3>Cena</h3>
    <p>
      Cena za jednotlivé setkání je 1000 - 1500 Kč za 60 min. (Nejsem plátcem DPH).
    </p>
    <p>
      Na počátku koučovací práce si klient sám, v rámci svých možností, určí cenu z výše uvedeného rozmezí.
    </p>
    <p>
      Jednotlivá terapeutická setkání trvají 60 nebo 90 min., záleží na vzájemné dohodě s klientem.
    </p>
    <p>
      Celková délka spolupráce se určuje na počátku práce a je součástí společné dohody kouče a klienta.
    </p>
    <p>
      Minimum pro vstup do koučovací práce jsou 3 setkání.
    </p>
    <p>
      Honorář za koučování je možné platit hotově nebo převodem na účet 219 24 281 73/0800.Vždy 1x za měsíc je klientovi následně vystaven daňový doklad za odebrané služby.
    </p>
    <p>
      Matky na mateřské mají možnost získat slevu ve výši 20%.
    </p>
  </detail-card-content>
</detail-card>
