<detail-card title="'Podmínky spolupráce'">
  <detail-card-img>
    <img src="app/pics/conditions_pic.jpg" class="md-media-xl card-media"/>
  </detail-card-img>
  <detail-card-content>
    <p>
      Společná práce je definována ústní dohodou. Nejmenší počet hodin terapeutické práce je 10 setkání, koučování 3 hodiny.
    </p>
    <p>
      Klient má možnost využít terapeutickou nebo koučovací podporu pro konkrétní situace nebo dle svých požadavků může vstoupit do střednědobé nebo dlouhodobé práce.
    </p>
    <p>
      Délka rámce společného setkávání je diskutována na počátku práce.
    </p>
    <p>
      Klient dochází zpravidla 1x týdně nebo 1 x 14 dní.
    </p>
    <p>
      <!-- V případě koučinku je možné pracovat i na pracovišti klienta. -->
    </p>
    <h3>Klient</h3>
    <ul>
      <li>se vždy objednává sám, osobně</li>
      <li>objednávky jsou telefonické  (603 31 79 97) nebo mailem <a href="mailto:chmelovam@seznam.cz ">chmelovam@seznam.cz </a></li>
      <li>v případě telefonické nedostupnosti terapeutky/koučky posílá klient SMS (mohu pracovat s klientem, zavolám, odpovím při nejbližší možné příležitosti)</li>
      <li>včas se omlouvá telefonem, SMS, mailem (v případě nemoci atd.), klient vždy dostane potvrzení o přijetí zprávy, <b>včasná omluva je definována lhůtou cca 24 hodin před dohodnutým termínem</b>. V jiném případě bude terapeutické/koučovací  sezení účtováno jako realizované a klient je povinen uhradit jeho plnou výši</li>
      <li>v případě platby převodem, včas hradí dohodnutý honorář</li>
      <li>na počátku práce je složena kauce ve výši honoráře za jednu hodinu. Tato kauce je vyúčtován na konci spolupráce nebo je jí uhrazena neomluvená nebo pozdě omluvená hodina.</li>
    </ul>
    <h3>Terapeutka/koučka</h3>
    <ul>
      <li>dodržuje dohodnuté termíny, v případě změny termínu (nemoc, atd.) neprodleně informuje klienta cca 24 hod. předem. V případě kratšího termínu oznámení má klient možnost čerpat 1 terapeutické sezení zdarma.   </li>
      <li>zachovává mlčenlivost</li>
      <li>dodržuje etický kodex Českého institutu biosyntézy, Evropské asociace psychoterapeutů a České asociace koučů a pracuje v odborné supervizi</li>
      <li>v případě potřeby předává kontakty na další odborníky</li>
      <li>vede evidenci odpracovaných hodin a vystavuje řádné daňové doklady.</li>
    </ul>
    <p>
      Další body dohody tzn. způsob a rozsah práce, cíle a výstupy spolupráce jsou dohodnuty ústně, vždy na počátku práce s konkrétním klientem.
    </p>
  </detail-card-content>
</detail-card>
