<detail-card title="'Kontakt'" header="'app/pics/contact_pic.jpg'">
  <detail-card-content>
    <p>
      Terapeutická praxe se nachází v ulici Opatovická 8. Zvoňte prosím na zvonek Koryntová.
    </p>
    <p>
      Odměnou za výstup do 5.patra je výše uvedený pohled.
    </p>
    <p>
      Mgr. Martina Chmelová, mobil: 603 31 79 97 , mail: <a href="mailto:martina.chmelova@alfabet.cz">martina.chmelova@alfabet.cz</a> , Opatovická 8, Praha 1
    </p>
    <div layout="row" layout-align="space-around end">
      <img src="app/pics/room1.jpg" flex=30 />
      <img src="app/pics/room2.jpg" flex=30 />
      <img src="app/pics/room3.jpg" flex=30 />
    </div>
    <h3>Mapka</h3>
    <div layout="row" layout-align="center center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2153.002313874142!2d14.414827234117237!3d50.07944020344458!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94f1985f0da7%3A0x64b7dd52a31d6629!2sOpatovick%C3%A1+180%2F8%2C+110+00+Praha+1-Nov%C3%A9+M%C4%9Bsto!5e0!3m2!1scs!2scz!4v1515848896025" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </detail-card-content>
</detail-card>
