<detail-card title="'Podporuji'">
  <detail-card-content>
    <img src="app/pics/logo_alfa.jpg"/>
    <p>
      V rámci své odborné spolupráce podporuji a spolupracuji s neziskovou organizací <a href="http://alfahs.cz/">Alfa Human Service, z.s., </a> která pracuje s dlouhodobě pečujícími osobami.
    </p>
    <p>
      V rámci této organizace vedu poradnu pro dlouhodobě pečující, kteří se v domácím prostředí starají o děti, mladistvém dospělé osoby se zdravotním postižením, nemocné partnery, rodiče atd. Dále metodicky tvořím a realizuji nácviky technik zaměřených na upevnění psychické stability.
    </p>
    <img src="app/pics/logo_klinika.png"/>
    <p>
      Spolupracuji s projektem <a href="https://www.socialniklinika.cz/?gclid=EAIaIQobChMI-vX22pu52AIVEGYbCh0SewVzEAAYASAAEgKuoPD_BwE"> Sociální klinika </a>. Posláním Sociální kliniky je poskytovat kvalitní terapeutické služby lidem, kteří se nacházejí v náročné životní situaci a nemohou si tyto služby z finančních důvodů dovolit. Přesto na sobě chtějí pracovat, hledají změnu a uvědomují si díl své zodpovědnosti.
    </p>
    <p>
      Služby poskytují zkušení terapeuti i studenti terapeutického výcviku v pokročilé fázi studia, kteří si přejí pomoci a mají chuť poskytovat podporu těm, kteří ji potřebují. Jde tedy v pravém slova smyslu o službu ze srdce. V rámci Sociální kliniky pracují terapeuti zdarma , jejich odměnou jsou supervize či další vzdělávání.
    </p>
  </detail-card-content>
</detail-card>
