<detail-card title="'Terapie'">
  <detail-card-img>
    <img src="app/pics/therapy_pic.jpg" class="md-media-xl card-media"/>
  </detail-card-img>
  <detail-card-content>
    <p>
      V terapii doprovázím své klienty v pohledech na různé detaily jejich života a na cestě porozumění. Pomáhám skládat tyto jednotlivosti do celkového obrazu a znovu vidět a cítit radost a krásu života.
    </p>
    <p>
      „Nic na světe se neděje náhodně a nahodile, vše má svůj smysl i když v okamžiku prožívání nepříjemných věcí, nevíme jaký“
    </p>
    <h3>Individuální terapeutická práce je vhodná, pokud hledáte pomoc při častém prožívání </h3>
    <ul>
      <li>těžkých životních situací</li>
      <li>úzkostí, strachů nebo depresí</li>
      <li>pocitů odcizení či prázdnoty nebo ztráty chuti do života</li>
      <li>psychosomatických obtíží</li>
      <li>problémů ve vztazích s druhými </li>
    </ul>
    <h3>Co vám může terapie přinést</h3>
    <ul>
      <li>náhled, porozumění a nalezení vlastního řešení situace</li>
      <li>poznání sebe sama</li>
      <li>radost do života</li>
      <li>zmírnění zdravotních obtíží</li>
      <li>zájem a chuť pro další práci na sobě </li>
    </ul>
    <h3>Cena</h3>
    <p>
      Cena za jednotlivé setkání je 800 – 1000 Kč za 60 min. (Nejsem plátcem DPH).  Na počátku terapeutické práce si klient sám, v rámci svých možností, určí cenu z výše uvedeného rozmezí.
    </p>
    <p>
      Jednotlivá terapeutická setkání trvají 60 nebo 90 min, záleží na vzájemné dohodě s klientem.
    </p>
    <p>
      Celková délka spolupráce se určuje na počátku práce a je součástí společné dohody terapeuta a klienta.
    </p>
    <p>
      Minimum pro vstup do terapeutické práce je 10 setkání.
    </p>
    <p>
      Honorář za terapeutické služby je možné platit hotově nebo převodem na účet 219 24 281 73/0800.
    </p>
    <p>
      Vždy 1 x za měsíc je klientovi následně vystaven daňový doklad za odebrané služby.
    </p>
    <p>
      Matky na mateřské a studenti mají možnost získat slevu ve výši 20%.
    </p>
  </detail-card-content>
</detail-card>
