<detail-card title="'Kdo jsem'">
  <detail-card-img>
    <img src="app/pics/whoami_pic.jpg" class="md-media-xl card-media"/>
  </detail-card-img>
  <detail-card-content>
    <ul>
      <li>Terapeutka,</li>
      <li>Certifikovaný kouč ČAKO</li>
    </ul>
    <p>
      Věnuji se individuální terapeutické práci, psychologickému poradenství a koučování. Ve své práci používám celostní psychoterapeutický přístup <a href="https://www.biosynteza.cz/biosynteza-jako-metoda">Biosyntéza</a> a prvky <a href="https://cs.wikipedia.org/wiki/Gestalt_terapie">Gestalt terapie</a>.
    </p>
    <p>
      V terapii pracuji převážně s dospělými klienty. Věnujeme se porozumění složitým životním situacím a práci s nimi. Zaměřuji se na pochopení, integraci, znovuobjevování a stabilizaci vlastních zdrojů síly a energie.
    </p>
    <p>
      Mám zkušenosti s doprovázením klientů po úrazech, operacích, plánovaných zdravotních výkonech, v dlouhodobé  nemoci vlastní, blízkých (onkologické onemocnění, poruchy imunity, borelizoza, chronický únavový syndrom, atd).
    </p>
    <p>
      V koučování podporuji klienty na cestě osobní změny s ohledem na mateřství, rodičovství a výchovu dětí. Dále pomáhám klientům nalézat řešení pracovních konfliktů, při ztrátě motivace a pocitu smysluplnosti z vykonávané práce.
    </p>
    <p>
      Při práci s klienty:
      <ul>
        <li> mám hlavu v oblacích, která mi pomáhá vidět problém shora,</li>
        <li> otevřené srdce, které vnímá potřeby druhého, bez hodnocení a výkonnostních požadavků a nároků,</li>
        <li> a dobře zakořeněné nohy dodávají stabilitu při otevírání těžkých situací ze života klientů a podporu při nalézání společných odpovědí na vyřčené a nevyřčené otázky.</li>
      </ul>
    </p>
  </detail-card-content>
</detail-card>
